Django==1.8.0
whitenoise
dj-database-url
waitress
requests
-e git+https://github.com/18F/pyfpds.git#egg=pyfpds
PyYAML
boto
django-hstore
-e git://github.com/18F/django-rest-swagger.git@fix-url-grouping#egg=django-rest-swagger
djangorestframework==2.3.14
psycopg2
titlecase
xmltodict
pytz
markdown
django-storages
